.zoom-container {
  transform: scale(1000);
  transform-origin: 51.15% 70%;
  transition: transform 1s ease, opacity 1s ease;
  opacity: 1;
}

.content {
  transform: scale(1);
  transform-origin: top left;
  opacity: 1;
}

.fade-out {
  transform: scale(0.5);
  opacity: 0;
  transition: transform 0.5s ease, opacity 2s ease;
}


