<div class="delay" id="timeline">
  <div
    class="laptop:mt-32 mt-16 laptop:mx-40 laptop:mx-12 mx-6 bg-cooldeepblue/50 rounded-lg shadow-2xl shadow-coolblue border-2 border-cooldeepblue relative flex flex-col">
    <div class="-my-6 p-6">
      <div class="laptop:text-4xl text-2xl pt-6">activity:</div>
      <div
        *ngFor="let item of items; let last = last"
        class="relative laptop:pl-8 py-6 group">
        <div
          [class]="
            last
              ? 'group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3'
              : ''
          "
          class="flex flex-col sm:flex-row items-start mb-1">
          <time
            class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase w-24 h-6 mb-3 sm:mb-0 text-cooldeepblue bg-coolorange rounded-full">
            {{ item.date }}
          </time>
          <div class="laptop:text-xl font-bold text-white">
            {{ item.title }}
          </div>
        </div>
        <!-- Content -->
        <div class="text-slate-500">
          {{ item.description }}
        </div>
      </div>
    </div>
  </div>
</div>
