<div
  class="delay border-coolblack rounded-lg shadow-2xl shadow-coolblue mt-40 bg-cooldeepblue/30 backdrop-blur-sm rounded-2xl mx-12 laptop:mx-24"
  id="info">
  <div
    class="mx-12 flex flex-col laptop:flex-row items-center gap-x-8 gap-y-16 px-4 py-12 sm:px-6 sm:py-16 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-y-6">
      <div>
        <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">about me.</h2>
        <p class="mt-4">
          I'm a web developer from Timisoara, Romania. I make responsive
          websites and web applications using the latest technologies.
        </p>
      </div>
      <div>
        <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">
          technologies I use.
        </h2>
        <p class="mt-4">
          <span
            class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10"
            >Badge</span
          >
          <span
            class="inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/10"
            >Badge</span
          >
          <span
            class="inline-flex items-center rounded-md bg-yellow-50 px-2 py-1 text-xs font-medium text-yellow-800 ring-1 ring-inset ring-yellow-600/20"
            >Badge</span
          >
          <span
            class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20"
            >Badge</span
          >
          <span
            class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10"
            >Badge</span
          >
          <span
            class="inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-xs font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10"
            >Badge</span
          >
          <span
            class="inline-flex items-center rounded-md bg-purple-50 px-2 py-1 text-xs font-medium text-purple-700 ring-1 ring-inset ring-purple-700/10"
            >Badge</span
          >
          <span
            class="inline-flex items-center rounded-md bg-pink-50 px-2 py-1 text-xs font-medium text-pink-700 ring-1 ring-inset ring-pink-700/10"
            >Badge</span
          >
        </p>
      </div>
    </div>
    <div class="gap-4 sm:gap-6 lg:gap-8">
      <img
        alt="Walnut card tray filled with cards and card angled in dedicated groove."
        class="rounded-lg"
        src="https://tailwindui.com/img/ecommerce-images/product-feature-03-detail-04.jpg" />
    </div>
  </div>
</div>
